@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'bootstrap/dist/css/bootstrap-grid.min.css';

/* Variables personalizadas para la paleta de colores de Vecko's */
:root {
  --veckos-primary: #6C13F1;    /* Color morado de la interfaz */
  --veckos-secondary: #90EE90;  /* Verde claro */
  --veckos-accent: #FFA500;     /* Naranja */
  --veckos-warn: #F44336;       /* Rojo */
  --veckos-background: #f5f5f5; /* Fondo gris claro */
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--veckos-background);
}